TM_DB=postgresql://USER:PASSWORD@HOST/DATABASE
TM_CONSUMER_KEY=oauth-consumer-key-goes-here
TM_CONSUMER_SECRET=oauth-consumer-secret-key-goes-here
TM_ENV=Prod
TM_SECRET=secret-key-here
TM_SMTP_HOST=smtp-server-host-here
TM_SMTP_PORT=smtp-server-port-here
TM_SMTP_USER=smtp-server-user-here
TM_SMTP_PASSWORD=smtp-server-password-here
